* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*header styles*/
.header{
    border: 1px solid red;
    width: 100%;
    height: 64px;
    padding: 0px 24px;
    display: inline-flex;
    align-items: center;
}

.header img{
    height: 170%;
}

.header .logo{
    display: flex;
    align-items: center; 
   height: 32px;
}

.header .gray{
    color: darkgray;
}

.header nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
/*border: 2px solid gold*/   /*helped a lot*/
}

.header ul{
    display: inline-flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

.header li{
padding: 0px 8px;
}

.header a{
    text-decoration: none;
    color: black;
}

/*end of header styles*/

.banner{
    background-color: lightgray;
    border: 1px solid blue;
    height: 660px;
}

.banner img{
    float: left;
    padding: 32px 24px;
    width: 60%;
}

.banner h2{
    display: flex;
    text-align: center;
    justify-content: center;
}

.banner-2{
    border: 1px solid green;
    height: 650px;
    width: 60%;
   float: left;
}

.banner-3{
    border: 1px solid black;
    height: 650px;
    width: 40%;
   float: right;
}

.learning{
    border: 1px solid hotpink;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    padding:32px 72px;
}

.thesis{
    border: 2px solid red;
    height: 650px;
}

.footer{
    border: 2px solid blue;
    height: 100px;
}