* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }

  html{
      width: 100%;
  }

/*header styles*/
.header .desktop{
    height: 64px;
    padding: 0px 24px;
    display: flex; 
    align-items: center;
}

.header img{
    height: 170%;
}

.header .logo{
    display: flex;
    align-items: center;
    height: 32px;
}

.header .gray{
    color: darkgray;
}

.header nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header ul{
    display: inline-flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

.header li{
padding: 0px 8px;
}

.header a{
    text-decoration: none;
    color: black;
}

/*banner-1 desktop styles*/
.banner{
    background-color: lightgray;
    height: auto;
    display: flex;
    align-items: center;
}

.banner img{
    padding: 32px 24px;
    width: 60%;
}

.banner .start{
    height: auto;
    width: 100%;
    margin-left: 12px;
    text-align: left;
    font-size: 23px;
}

.banner .button{
    height: auto;
    width: auto;
    background-color: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}
.button a{
    text-decoration: none;
    color: white;
}

/* banner 2 styles*/
.banner-2{
    border-right: 1px solid lightgray;
    height: auto;
    width: 60%;
   float: left;
   padding: 32px 24px;
}

.banner-2 img{
    width: 100%;
    height: auto;
    padding-bottom: 32px;
}

.banner-2 h2{
    font-size: 46px;
}

.banner-2 .quote{
    padding: 24px 0px;
    font-size: 18px;
}

/*banner 3 styles*/
.banner-3{
    height: auto;
    width: 40%;
   float: right;
   display: block;
}

.banner-3 .content{
border: 1px solid lightgray;
width: 100%;
height: auto;
padding: 16px;
display: flex;
}

.banner-3 .end{
    background-color: lightgray;
}

.banner-3 picture{
    width: 35%;
}

.banner-3 img{
    height: auto;
    width: 100%;
    padding-right: 16px;
}

.banner-3 h3{
    font-size: 24px;
}

.banner-3 p{
    padding: 8px 0px;
}

.banner-3 .dates{
    width: 65%;
    height: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.banner-3 a{
    text-decoration: none;
    color:  blue;
}

/*learning desktop styles*/
.learning{
    background-color: lightgray;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
}

.learning h2{
padding-top: 32px;
font-size: 34px;
}

.learning .course-container{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 32px 72px;
}

.learning-desktop .course{
    height: auto;
    width: auto;
    max-width: 30%;
    background-color: white;
    margin: 16px;
}

.learning img{
    height: auto;
    width: 100%;
}

.learning .info{
    padding: 16px;
    padding-bottom: 24px;
    text-align: left;
    line-height: 18px;
}

.thesis{
    height: auto;
    width: 100%;
    text-align: center;
}
    
.thesis h2{
    padding: 32px;
    font-size: 34px;
    }

.thesis-1{
     width: 60%;
     height: auto;
    padding: 0px 24px 32px 24px;
    text-align: left;
    float: left;
 }

 .thesis-1 video{
     width: 100%;
     height: auto;
     padding-bottom: 24px;
 }

 .thesis h3{
     padding-bottom: 8px;
     font-size: 26px;
 }

 .thesis-2{
    width: 40%;
    height: auto;
   float: right;
   padding-right: 24px;
   text-align: left;
 }

.thesis-container{
    width: 100%;
    height: 33.3%;
    display: block;
}

.thesis-content{
    display: flex;
}
.thesis img{
    padding: 16px;
    width: 35%;
    height: auto;
}

.thesis .info{
    width: 65%;
    height: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.footer{
    border-top: 1px solid lightgray;
    height: auto;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
}

.footer .copyright{
    width: 100%;
}

.footer .terms{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.terms p{
    margin-left: 8px;
}

/*desktop media styles*/
@media only screen and (min-width: 401px) {
    .header .mobile{
        display: none;
    }

    .learning-mobile{
        display: none;
    }
    }