* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

/*header styles*/
.header{
    /*border: 1px solid red;*/
    width: 100%;
    height: 64px;
    padding: 0px 24px;
    display: inline-flex;
    align-items: center;
}

.header img{
    height: 170%;
}

.header .logo{
    display: flex;
    align-items: center; 
   height: 32px;
}

.header .gray{
    color: darkgray;
}

.header nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
/*border: 2px solid gold*/   /*helped a lot*/
}

.header ul{
    display: inline-flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

.header li{
padding: 0px 8px;
}

.header a{
    text-decoration: none;
    color: black;
}

/*end of header styles*/

.banner{
    background-color: lightgray;
   /* border: 1px solid blue; */
    height: auto;
    display: flex;
    align-items: center;
}

.banner img{
    display: flex;
    justify-content: flex-start;
    padding: 32px 24px;
    width: 60%;
}
.banner .join{
    height: 100%;
    width:100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 23px;
}

.banner .start{
    /*border: 1px solid green;*/
    height: 350px;
    width: 400px;
    display: block;
    margin-left: 12px;
}


.banner .button{
    height: 55px;
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}

/*end of banner-1 styles*/

/* banner 2 styles*/
.banner-2{
  /* border: 1px solid green;*/
    border-right: 1px solid lightgray;
    height: auto;
    width: 60%;
   float: left;
   padding: 32px 24px;
}

.banner-2 img{
    width: 100%;
    height: auto;
    padding-bottom: 32px;
}

.banner-2 h2{
    padding-bottom: 24px;
    font-size: 46px;
}

.banner-2 .quote{
    padding-bottom: 24px;
    font-size: 18px;
}
/* end of banner 2 styles*/

/*banner 3 styles*/
.banner-3{
    height: auto;
    width: 40%;
   float: right;
   display: block;
}

.banner-3 .content{
border: 1px solid lightgray;
width: 100%;
height: 33.3%;
padding: 16px;
display: flex;
}

.banner-3 img{
    height: auto;
    width: 35%;
    padding-right: 16px;
}

.banner-3 h3{
    font-size: 24px;
}
.banner-3 p{
    padding: 8px 0px;
}
.banner-3 .dates{
   /* border: 1px solid gray;*/
    width: 65%;
    height: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.banner-3 a{
    text-decoration: none;
    color:  blue;
}
/*end of banner 3 styles*/

/*learning styles*/
.learning{
    /*border: 1px solid hotpink;*/ 
    background-color: lightgray;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
}

.learning h2{
padding-top: 32px;
font-size: 34px;
}

.learning .course-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 32px 72px;
}

.learning .course{
    /*border: 1px solid green;*/
    height: 360px;
    width: 30%;
    background-color: white;
    margin: 16px;
}
.learning img{
    height: auto;
    width: 100%;
}

.learning .info{
    padding: 16px;
    padding-bottom: 24px;
    text-align: left;
    line-height: 18px;
}
/*end of learning styles*/

.thesis{
    /*border: 2px solid red;*/
    height: auto;
    width: 100%;
    text-align: center;
}
    
.thesis h2{
    padding: 32px;
    font-size: 34px;
    }

.thesis-1{
    /*border: 1px solid green;*/
     width: 60%;
     height: auto;
    padding: 0px 24px 32px 24px;
    text-align: left;
    float: left;
 }

 .thesis-1 video{
     width: 100%;
     height: auto;
     padding-bottom: 24px;
 }

 .thesis h3{
     padding-bottom: 8px;
     font-size: 26px;
 }

 .thesis-2{
    /*border: 1px solid blue;*/
    width: 40%;
    height: auto;
   float: right;
   padding-right: 24px;
   text-align: left;
 }


.thesis-container{
    /*border: 1px solid lightgray;*/
    width: 100%;
    height: 33.3%;
    display: block;
}

.thesis-content{
    display: flex;
}
.thesis img{
    padding: 16px;
    width: 35%;
    height: auto;
}

.thesis .info{
    width: 65%;
    height: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.footer{
    /*border: 2px solid red;*/
    border-top: 1px solid lightgray;
    height: auto;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
}

.footer .copyright{
    width: 100%;
}
.footer .terms{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.terms p{
    margin-left: 8px;
}