* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

/*header styles*/
.header{
    /*border: 1px solid red;*/
    width: 100%;
    height: 64px;
    padding: 0px 24px;
    display: inline-flex;
    align-items: center;
}

.header img{
    height: 170%;
}

.header .logo{
    display: flex;
    align-items: center; 
   height: 32px;
}

.header .gray{
    color: darkgray;
}

.header nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
/*border: 2px solid gold*/   /*helped a lot*/
}

.header ul{
    display: inline-flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

.header li{
padding: 0px 8px;
}

.header a{
    text-decoration: none;
    color: black;
}

/*end of header styles*/

.banner{
    background-color: lightgray;
   /* border: 1px solid blue; */
    height: 660px;
    display: flex;
    align-items: center;
}

.banner img{
    display: flex;
    justify-content: flex-start;
    padding: 32px 24px;
    width: 60%;
}
.banner .join{
    height: 100%;
    width:100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: 23px;
}

.banner .start{
    /*border: 1px solid green;*/
    height: 350px;
    width: 400px;
    display: block;
    margin-left: 12px;
}


.banner .button{
    height: 55px;
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}

/*end of banner-1 styles*/

.banner-2{
    border: 1px solid green;
    height: 650px;
    width: 60%;
   float: left;
}

.banner-3{
    border: 1px solid black;
    height: 650px;
    width: 40%;
   float: right;
}

/*learning styles*/
.learning{
    /*border: 1px solid hotpink;*/ 
    background-color: lightgray;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 910px;
}

.learning h2{
padding-top: 32px;
}

.learning .course-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 32px 72px;
}

.learning .course{
    /*border: 1px solid green;*/
    height: 360px;
    width: 30%;
    background-color: white;
    margin: 16px;
}
.learning img{
    height: auto;
    width: 100%;
}

.learning .info{
    padding: 16px;
    padding-bottom: 24px;
    text-align: left;
    line-height: 18px;
}
/*end of learning styles*/

.thesis{
    border: 2px solid red;
    height: 650px;
}

.footer{
    border: 2px solid blue;
    height: 100px;
}